<div class="col-md-6 offset-md-3">
  <h3>Create Order Item</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity"
             [(ngModel)]="orderItem.quantity" name="quantity">
    </div>
    <div class="form-group">
      <label for="orderId">Order from</label>
      <select class="form-control select-dropdown" id="orderId" [(ngModel)]="orderItem.orderId" name="orderId">
        <option *ngFor="let order of orders" [value]="order.orderId">{{order.user.userName}} ({{getFormatTime(order.orderDate)}})</option>
      </select>
    </div>
    <div class="form-group">
      <label for="productId">Product</label>
      <select class="form-control select-dropdown" id="productId" [(ngModel)]="orderItem.productId" name="productId">
        <option *ngFor="let product of products" [value]="product.productId">{{product.name}} ({{product.brand.brandName}})</option>
      </select>
    </div>
    <button class="btn btn-success mt-2" type="submit">Submit</button>
  </form>
</div>
