<!-- products.component.html -->
<h2> Order Items List
  <button (click)="createOrderItem()" class="btn btn-success btn-md" style="margin-right: 10px">Create New Order Item</button>
</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th (click)="sortBy('quantity')"
            [class.active-sort]="sortByField === 'quantity' && reverse === false"
            [class.reverse-sort]="sortByField === 'quantity' && reverse === true"
            class="sortable-header">Quantity</th>
        <th (click)="sortBy('order')"
            [class.active-sort]="sortByField === 'order' && reverse === false"
            [class.reverse-sort]="sortByField === 'order' && reverse === true"
            class="sortable-header">Order from</th>
        <th (click)="sortBy('product')"
            [class.active-sort]="sortByField === 'product' && reverse === false"
            [class.reverse-sort]="sortByField === 'product' && reverse === true"
            class="sortable-header">Product Name</th>
        <th style="text-align: right;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orderItem of orderItems">
        <td> {{orderItem.quantity}}</td>
        <td> {{orderItem.order.user.userName}}({{orderItem.order.orderDate}})</td>
        <td> {{orderItem.product.name}}({{orderItem.product.brand.brandName}})</td>
        <td style = "text-align: right;">
          <button (click)="updateOrderItem(orderItem.orderItemId)" class="btn btn-info btn-md" style="margin-left: 5px">Update</button>
          <button (click)="deleteOrderItem(orderItem.orderItemId)" class="btn btn-danger btn-md" style="margin-left: 5px">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
