<div class="col-md-6 offset-md-3">
  <h3>Update Order Item</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity"
             [(ngModel)]="orderItem.quantity" name="quantity">
    </div>
    <div class="form-group">
      <label for="orderId">Order Id</label>
      <select class="form-control select-dropdown" id="orderId" [(ngModel)]="orderItem.order" name="orderId">
        <option *ngFor="let order of orders" [ngValue]="order">{{order.orderId}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="productId">Product Id</label>
      <select class="form-control select-dropdown" id="productId" [(ngModel)]="orderItem.product" name="productId">
        <option *ngFor="let product of products" [ngValue]="product">{{product.productId}}</option>
      </select>
    </div>
    <button class="btn btn-success mt-2" type="submit">Submit</button>
  </form>
</div>
