<!-- orders.component.html -->
<h2> Orders List
  <button (click)="createOrder()" class="btn btn-success btn-md" style="margin-right: 10px">Create New Order</button>
</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order Date</th>
        <th>Total Amount</th>
        <th>Order Status</th>
        <th>User</th>
        <th style="text-align: right;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td> {{order.orderDate}}</td>
        <td> {{order.totalAmount}}</td>
        <td> {{order.orderStatus}}</td>
        <td> {{order.user.email}}</td>
        <td style = "text-align: right;">
          <button (click)="updateOrder(order.orderId)" class="btn btn-info btn-md" style="margin-left: 5px">Update</button>
          <button (click)="deleteOrder(order.orderId)" class="btn btn-danger btn-md" style="margin-left: 5px">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
