<!-- orders.component.html -->
<h2> Orders List
  <button (click)="createOrder()" class="btn btn-success btn-md" style="margin-right: 10px">Create New Order</button>
</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th (click)="sortBy('orderDate')"
            [class.active-sort]="sortByField === 'orderDate' && reverse === false"
            [class.reverse-sort]="sortByField === 'orderDate' && reverse === true"
            class="sortable-header">Order Date</th>
        <th (click)="sortBy('totalAmount')"
            [class.active-sort]="sortByField === 'totalAmount' && reverse === false"
            [class.reverse-sort]="sortByField === 'totalAmount' && reverse === true"
            class="sortable-header">Total Amount</th>
        <th (click)="sortBy('orderStatus')"
            [class.active-sort]="sortByField === 'orderStatus' && reverse === false"
            [class.reverse-sort]="sortByField === 'orderStatus' && reverse === true"
            class="sortable-header">Order Status</th>
        <th (click)="sortBy('user')"
            [class.active-sort]="sortByField === 'user' && reverse === false"
            [class.reverse-sort]="sortByField === 'user' && reverse === true"
            class="sortable-header">User</th>
        <th style="text-align: right;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td> {{getFormatTime(order.orderDate)}}</td>
        <td> {{order.totalAmount}}</td>
        <td> {{order.orderStatus}}</td>
        <td> {{order.user.email}}</td>
        <td style = "text-align: right;">
          <button (click)="updateOrder(order.orderId)" class="btn btn-info btn-md" style="margin-left: 5px">Update</button>
          <button (click)="deleteOrder(order.orderId)" class="btn btn-danger btn-md" style="margin-left: 5px">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
