<div class="col-md-6 offset-md-3">
  <h3>Update order</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="orderDate">Order Date</label>
      <input type="datetime-local" class="form-control" id="orderDate"
             [(ngModel)]="order.orderDate" name="orderDate">
    </div>
    <div class="form-group">
      <label for="totalAmount">Total Amount</label>
      <input type="number" class="form-control" id="totalAmount"
             [(ngModel)]="order.totalAmount" name="totalAmount">
    </div>
    <div class="form-group">
      <label for="orderStatus">Order Status</label>
      <input type="text" class="form-control" id="orderStatus"
             [(ngModel)]="order.orderStatus" name="orderStatus">
    </div>
    <div class="form-group">
      <label for="userId">User Id</label>
      <select class="form-control select-dropdown" id="userId" [(ngModel)]="order.user" name="userId">
        <option *ngFor="let user of users" [ngValue]="user">{{user.userId}}</option>
      </select>
    </div>
    <button class="btn btn-success mt-2" type="submit">Submit</button>
  </form>
</div>
