<!-- products.component.html -->
<h2> Product Review List
  <button (click)="createProductReview()" class="btn btn-success btn-md" style="margin-right: 10px">Create New Order Item</button>
</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rating</th>
        <th>Review Text</th>
        <th>Review Date</th>
        <th>User </th>
        <th>Product Name</th>
        <th style="text-align: right;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productReview of productReviews">
        <td> {{productReview.rating}}</td>
        <td> {{productReview.reviewText}}</td>
        <td> {{getFormatTime(productReview.reviewDate)}}</td>
        <td> {{productReview.user.email}}</td>
        <td> {{productReview.product.name}}({{productReview.product.brand.brandName}})</td>
        <td style = "text-align: right;">
          <button (click)="updateProductReview(productReview.productReviewId)" class="btn btn-info btn-md" style="margin-left: 5px">Update</button>
          <button (click)="deleteProductReview(productReview.productReviewId)" class="btn btn-danger btn-md" style="margin-left: 5px">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
