<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="users" routerLinkActive="active" class="nav-link"> Users List</a>
    </li>
    <li class="nav-item">
      <a routerLink="brands" routerLinkActive="active" class="nav-link"> Brand List</a>
    </li>
    <li class="nav-item">
      <a routerLink="stores" routerLinkActive="active" class="nav-link"> Store List</a>
    </li>
    <li class="nav-item">
      <a routerLink="orders" routerLinkActive="active" class="nav-link"> Order List</a>
    </li>
    <li class="nav-item">
      <a routerLink="products" routerLinkActive="active" class="nav-link"> Product List</a>
    </li>
    <li class="nav-item">
      <a routerLink="order-items" routerLinkActive="active" class="nav-link"> Order Item List</a>
    </li>
    <li class="nav-item">
      <a routerLink="product-reviews" routerLinkActive="active" class="nav-link"> Product Review List</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
