<!-- products.component.html -->
<h2> Products List
  <button (click)="createProduct()" class="btn btn-success btn-md" style="margin-right: 10px">Create New Product</button>
</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th (click)="sortBy('name')"
            [class.active-sort]="sortByField === 'name' && reverse === false"
            [class.reverse-sort]="sortByField === 'name' && reverse === true"
            class="sortable-header">Product Name</th>
        <th (click)="sortBy('description')"
            [class.active-sort]="sortByField === 'description' && reverse === false"
            [class.reverse-sort]="sortByField === 'description' && reverse === true"
            class="sortable-header">Product Description</th>
        <th (click)="sortBy('price')"
            [class.active-sort]="sortByField === 'price' && reverse === false"
            [class.reverse-sort]="sortByField === 'price' && reverse === true"
            class="sortable-header">Price</th>
        <th (click)="sortBy('stockQuantity')"
            [class.active-sort]="sortByField === 'stockQuantity' && reverse === false"
            [class.reverse-sort]="sortByField === 'stockQuantity' && reverse === true"
            class="sortable-header">Stock Quantity</th>
        <th (click)="sortBy('brand')"
            [class.active-sort]="sortByField === 'brand' && reverse === false"
            [class.reverse-sort]="sortByField === 'brand' && reverse === true"
            class="sortable-header">Brand</th>
        <th style="text-align: right;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td> {{product.name}}</td>
        <td> {{product.description}}</td>
        <td> {{product.price}}</td>
        <td> {{product.stockQuantity}}</td>
        <td> {{product.brand.brandName}}</td>
        <td style = "text-align: right;">
          <button (click)="updateProduct(product.productId)" class="btn btn-info btn-md" style="margin-left: 5px">Update</button>
          <button (click)="deleteProduct(product.productId)" class="btn btn-danger btn-md" style="margin-left: 5px">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
