<!-- brands.component.html -->
<h2> Brands List
  <button (click)="createBrand()" class="btn btn-success btn-md" style="margin-right: 10px">Create New Brand</button>
</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th (click)="sortBy('brandName')"
            [class.active-sort]="sortByField === 'brandName' && reverse === false"
            [class.reverse-sort]="sortByField === 'brandName' && reverse === true"
            class="sortable-header">Name</th>
        <th style="text-align: right;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td> {{brand.brandName}}</td>
        <td style = "text-align: right;">
          <button (click)="updateBrand(brand.brandId)" class="btn btn-info btn-md" style="margin-left: 5px">Update</button>
          <button (click)="deleteBrand(brand.brandId)" class="btn btn-danger btn-md" style="margin-left: 5px">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
